In [8]:
import pandas as pd
import datasets

/Users/n0342839/code/personal/fine-tune/.venv/lib/python3.9/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [4]:
df = pd.read_parquet("en-fr-translation.parquet", engine='pyarrow')
df

,en,fr
0,Jamaica: “I am HIV”,Jamaïque : J’ai le VIH
1,"It's widely acknowledged, in the Caribbean and...","Il est largement reconnu, dans les Caraïbes et..."
2,"For this woman, however, photographed in the s...","Pour cette femme, cependant, photographiée dan..."
3,As Bacon writes on her blog:,Comme Bacon écrit sur son blog:
4,"“When I asked to take her picture, I suggested...",“Quand je lui ai demandé de la prendre en phot...
...,...,...
342055,"But now, it's always pain.","Maintenant, tout n'est que souffrance. »"
342056,“As of today…today is the beginning of a new l...,« A partir d'aujourd'hui… une nouvelle vie com...
342057,"When I contacted Bishnu eight months later, sh...",Lorsque j'ai contacté Bishnu huit mois plus ta...
342058,"She's planning for her future, just as she was...","Elle fait des plans pour l'avenir, tout comme ..."
342059,But now she's not wearing bangles.,"Seulement, aujourd'hui, elle ne porte pas de b..."

In [5]:
# create jsonl files
df.to_json('en-fr-translation.jsonl', orient='records', lines=True)

In [9]:
# play around with dataset / tokenizer
train_dataset = datasets.load_dataset('json', data_files='en-fr-translation.jsonl', split='train')
train_dataset

Downloading data files: 100%|██████████| 1/1 [00:00<00:00, 4899.89it/s]
Extracting data files: 100%|██████████| 1/1 [00:00<00:00, 285.40it/s]
Generating train split: 342060 examples [00:00, 2300564.96 examples/s]

Dataset({
    features: ['en', 'fr'],
    num_rows: 342060
})